@mixin no-break-after {
  // hack from https://stackoverflow.com/questions/9238868/how-do-i-avoid-a-page-break-immediately-after-a-heading
  break-inside: avoid;

  &::after {
    content: '';
    display: block;

    $height: 50px;
    height: $height;
    margin-bottom: -$height;
  }
}

h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;

  @include no-break-after;
}

h3 {
  counter-reset: h4;

  @include no-break-after;
}

body.layout-constitution,
body.layout-amendment {
  h2:before {
    counter-increment: h2;
    content: counter(h2) '. ';
  }

  h3:before {
    counter-increment: h3;
    content: counter(h2) '.' counter(h3) '. ';
  }

  h4:before {
    counter-increment: h4;
    content: counter(h2) '.' counter(h3) '.' counter(h4) '. ';
  }

  ol > li {
    list-style-type: lower-alpha;
  }
}

li {
  break-inside: avoid;
}

ol ol > li {
  list-style-type: lower-alpha;
}

ol ol ol > li {
  list-style-type: lower-roman;
}

.github-banner {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  a:first-child:hover {
    text-decoration: none;

    > span {
      text-decoration: underline;
    }
  }

  img {
    vertical-align: -40%;
    max-height: 2em;
  }

  @media print {
    display: none;
  }
}

.subtitle {
  font-style: italic;
}

.markdown-body {
    font-family: 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
}
